<strong>Hello, {{ deliverymanName }}</strong>
<p>There has been a package registration for you to deliver, here are more details:</p>
<p>
  <strong>Recipient: </strong> {{ recipientName }} <br />
  <strong>Product: </strong> {{ product }} <br />
  <strong>Address: </strong> {{ fullAddress }} <br />
  <br />
  <small>
    Thanks for your attention.
  </small>
</p>
